@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  src: url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before,
._init .menu-footer__title::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
  color: #fff;
}

._icon-check:before,
._init .menu-footer__title:before {
  content: "\e902";
  color: #fff;
}

._icon-close:before {
  content: "\e903";
  color: #fff;
}

._icon-fb:before {
  content: "\e904";
  color: #fff;
}

._icon-insta:before {
  content: "\e905";
  color: #fff;
}

._icon-p-left:before {
  content: "\e906";
  color: #fff;
}

._icon-p-right:before {
  content: "\e907";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1270px;
  margin: 0 auto;
}

.content {
  max-width: 1270px;
  margin: 0px auto;
}

.form__error {
  color: #e36464;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  margin-top: 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 26px;
  padding-left: 46px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
  border: 1px solid #f0f2f7;
  background-color: #a7c0e8;
  color: #fff;
  font-size: 20px;
}

.btn._fw {
  width: 100%;
}

.btn::before {
  margin-left: 23px;
}

.btn_black {
  background-color: #30333c;
}

.btn_white {
  background-color: #d9dbe2;
}

.btn_white_active {
  background-color: #30333c;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

.input._error {
  border-bottom: 1px solid #e36464;
}

textarea.input {
  resize: vertical;
  padding: 0px 0px;
  min-height: 35px;
  padding: 5px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border-bottom: 1px solid #e36464;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.slider-arrow {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #a7c0e8;
  font-size: 12;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-arrow_prev::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

._footer-title {
  color: #fff;
  font-family: Quicksand;
  font-size: 26px;
  font-weight: 700;
  line-height: 150%;
  text-align: left;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-pagination-bullet {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  height: 27px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0px;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}

.swiper-pagination-bullet::after {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #d8d8d8;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #ff6464;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.swiper-pagination-bullet-active::after {
  background-color: #ff6464;
}

.swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
  border-radius: 30px;
}

.popup__title {
  color: #6f88b1;
  font-size: 30px;
  text-align: center;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  background: #fff;
}

.header__menu {
  padding: 10px 0;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  z-index: 10;
}

.logo__link {
  margin-left: 50px;
  color: #23231e;
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__list li {
  margin: 0px 0px 30px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  color: #30333c;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.pradžia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 859px;
  background: -o-linear-gradient(231deg, #e8f1ff 0%, #fafcff 100%);
  background: linear-gradient(219deg, #e8f1ff 0%, #fafcff 100%);
  position: relative;
}

.pradžia__content {
  width: 100vw;
  height: 786px;
  margin: 70px 0 0;
}

.pradžia__content .pradžia__title {
  padding-top: 54px;
  padding-bottom: 80px;
  margin-left: 43px;
  width: 473px;
  font-size: 50px;
  line-height: 60px;
  color: #30333c;
  font-family: Quicksand;
  font-weight: 700;
  z-index: 2;
  position: relative;
}

.pradžia__square {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65%;
  height: 85%;
  border-top-left-radius: 220px;
  background: -o-linear-gradient(258deg, #ffffff 0%, #ffffff 100%);
  background: linear-gradient(192deg, #ffffff 0%, #ffffff 100%);
  z-index: 1;
}

.pradžia__slider {
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

.main-slider {
  position: relative;
  z-index: 2;
  width: 100vw;
  padding-right: 0px;
}

.main-slider .blur {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
}

.main-slider .blur img {
  height: 100%;
}

.slider-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider-main__controls {
  z-index: 2;
}

.slider-main__body {
  overflow: visible;
  width: 348px;
}

.slider-main__slide {
  position: relative;
}

.slider-main__image {
  padding: 0px 0px 100% 0px;
}

.slider_main__content {
  padding-left: 24px;
  min-width: 295px;
  max-height: 245px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
          box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: #fff;
}

.slider_main__title {
  width: 272px;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  margin: 0px 0px 0.15385em 0px;
  color: #30333c;
}

.slider_main__text {
  overflow: auto;
  line-height: 32px;
  color: #70737c;
  width: 296px;
}

.slider_main__text:not(:last-child) {
  margin: 0px 0px 0.38889em 0px;
}

.slider_main__arrow::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 30px 0px 10px;
  font-size: 20px;
  color: #30333c;
}

.controls-slider-main {
  position: relative;
  width: 100vw;
}

.controls-slider-main .slider-arrows {
  position: absolute;
  top: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.pasiūlymai {
  overflow: auto;
  margin-top: 177px;
  overflow-x: scroll;
  padding-top: 60px;
  -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
          box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
  border-radius: 20px;
  background-color: #fff;
}

.pasiūlymai__body {
  width: 1270px;
  margin-bottom: 60px;
}

.pasiūlymai__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;
}

.pasiūlymai__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  cursor: pointer;
  position: relative;
}

.pasiūlymai__link {
  margin-right: 24px;
  color: #fff;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.pasiūlymai__arrow {
  font-size: 14px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pasiūlymai ._icon-check::before,
.pasiūlymai ._init .menu-footer__title::before,
._init .pasiūlymai .menu-footer__title::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pasiūlymai__sub-list {
  -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
          box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 62px;
  position: absolute;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 10px);
      -ms-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}

.pasiūlymai__sub-item {
  cursor: pointer;
  margin-top: 18px;
  margin-bottom: 18px;
}

.pasiūlymai__sub-item:not(:last-child) {
  border-bottom: 1px solid #eff1f6;
  padding-bottom: 16px;
}

.pasiūlymai__sub-link {
  color: #70737c;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  padding: 0px 39px;
}

.pasiūlymai__table {
  border-collapse: collapse;
  table-layout: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pasiūlymai__table tbody {
  width: 1270px;
}

.pasiūlymai__table tr td,
.pasiūlymai__table tr th {
  text-align: left;
  padding-left: 41px;
  padding-right: 42px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #70737c;
  font-size: 20px;
  font-weight: 500;
  line-height: 115%;
}

.pasiūlymai__table tr th {
  word-wrap: break-word;
  color: #30333c;
  font-size: 20px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 140%;
  vertical-align: baseline;
}

.pasiūlymai__bg_blue {
  background-image: -webkit-gradient(linear, right top, left top, from(#f7faff), to(#dbe9ff));
  background-image: -o-linear-gradient(right, #f7faff 0%, #dbe9ff 100%);
  background-image: linear-gradient(270deg, #f7faff 0%, #dbe9ff 100%);
}

.form__menu {
  padding-left: 39px;
}

.pasiūlymai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.pasiūlymai__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.pasiūlymai__body,
.pasiūlymai__table {
  display: inline-block;
}

.naujienos {
  padding-top: 52px;
  margin-bottom: 70px;
}

.naujienos__title {
  color: #30333c;
  font-family: Quicksand;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  margin: 0px 0px 0.68em 0px;
}

.naujienos__wrap {
  background: #fff;
  -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
          box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
  border-radius: 7px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.naujienos__items {
  display: -ms-grid;
  display: grid;
  gap: 21px;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.item-naujieno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.item-naujieno__image {
  padding: 0px 0px 100% 0px;
}

.item-naujieno__body {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 16px 16px 30px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-naujieno__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-naujieno__title {
  width: 272px;
  font-family: Quicksand;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 120%;
}

.blur-naujieno {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 54, 82, 0)), to(rgba(21, 21, 26, 0.9)));
  background-image: -o-linear-gradient(top, rgba(58, 54, 82, 0) 0%, rgba(21, 21, 26, 0.9) 100%);
  background-image: linear-gradient(180deg, rgba(58, 54, 82, 0) 0%, rgba(21, 21, 26, 0.9) 100%);
}

.naujienos__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.naujienos__arrow {
  position: relative;
  right: 52px;
  top: 20px;
}

.naujienos__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.kontaktai {
  position: relative;
  margin-bottom: 42px;
  -webkit-box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
          box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
  border-radius: 7px;
}

.kontaktai__persons-background {
  position: absolute;
  height: 100%;
  width: 47%;
  z-index: -1;
}

.kontaktai__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kontaktai__persons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 25px;
  margin-right: 217px;
  margin-top: 100px;
  margin-bottom: 190px;
}

.kontaktai__form {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kontakt__peson {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kontakt__peson:not(:last-child) {
  margin-bottom: 41px;
}

.kontakt__peson-image {
  width: 130px;
  height: 130px;
  margin-right: 30px;
}

.kontakt__peson-image img {
  border-radius: 50%;
}

.kontakt__peson-info {
  min-width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kontakt__peson-info a:not(:last-child) {
  margin-bottom: 3px;
}

.kontakt__peson-info-name {
  color: #6f88b1;
  font-family: Quicksand;
  font-size: 26px;
  font-size: 26px;
  font-weight: 700;
  line-height: 120%;
}

.kontakt__peson-info-mail {
  color: #70737c;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.kontakt__peson-info-phone {
  color: #70737c;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.form {
  padding-top: 39px;
}

.form__body {
  padding-right: 88px;
}

.form__title {
  max-width: 497px;
  color: #6f88b1;
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 120%;
}

.form__item {
  margin-bottom: 54px;
}

.form__input {
  width: 100%;
  padding: 5px;
  height: 42px;
  border-bottom: 1px solid #d7deeb;
  color: #70737c;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.form__button {
  margin-bottom: 32px;
}

.form * {
  outline: none;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #70737c;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.checkbox__label a {
  text-decoration: underline;
  color: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 19px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
          flex: 0 0 28px;
  height: 28px;
  border: 1px solid #6f88b1;
}

.checkbox__label::after {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #86a0c9;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.checkbox._error .checkbox__label::before {
  border: 1px solid #e36464;
}

.footer {
  background-color: #30333c;
}

.footer__content {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 58px;
  padding-left: 58px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer__column:not(:last-child) {
  margin-right: 149px;
}

.menu-footer__title {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  cursor: default;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-transition: margin-bottom 0.3s ease 0s;
  -o-transition: margin-bottom 0.3s ease 0s;
  transition: margin-bottom 0.3s ease 0s;
}

._init .menu-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._init .menu-footer__title::before {
  font-size: 12px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu-footer__title._active::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu-footer__list {
  margin-bottom: 15px;
}

.menu-footer__list li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.menu-footer__link {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-weight: 500;
  line-height: 120%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 18px;
}

.social__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__wrap a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__wrap a:not(:last-child) {
  margin-right: 46px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 319px) {
  .pasiūlymai__item._hover .pasiūlymai__sub-list {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .pasiūlymai__item._hover .form__menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .pasiūlymai__item._hover .pasiūlymai__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list li {
    margin: 0px 25px 0px 0px;
  }

  .menu__list li:last-child {
    margin-right: 50px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .logo__link:hover {
    color: #ff6464;
  }

  .menu__link:hover {
    color: #ff6464;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1282px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1270px) {
  .btn {
    padding-right: calc(18px + 8 * ((100vw - 320px) / 950));
  }

  .btn {
    padding-left: calc(18px + 28 * ((100vw - 320px) / 950));
  }

  .btn {
    font-size: calc(16px + 4 * ((100vw - 320px) / 950));
  }

  ._footer-title {
    font-size: calc(20px + 6 * ((100vw - 320px) / 950));
  }

  .pradžia {
    height: calc(575px + 284 * ((100vw - 320px) / 950));
  }

  .pradžia__content {
    height: calc(524px + 262 * ((100vw - 320px) / 950));
  }

  .pradžia__content .pradžia__title {
    padding-top: calc(25px + 29 * ((100vw - 320px) / 950));
  }

  .pradžia__content .pradžia__title {
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 950));
  }

  .pradžia__content .pradžia__title {
    margin-left: calc(20px + 23 * ((100vw - 320px) / 950));
  }

  .pradžia__content .pradžia__title {
    width: calc(290px + 183 * ((100vw - 320px) / 950));
  }

  .pradžia__content .pradžia__title {
    font-size: calc(30px + 20 * ((100vw - 320px) / 950));
  }

  .pradžia__content .pradžia__title {
    line-height: calc(30px + 30 * ((100vw - 320px) / 950));
  }

  .main-slider {
    padding-right: calc(17px + -17 * ((100vw - 320px) / 950));
  }

  .slider-main__body {
    width: calc(290px + 58 * ((100vw - 320px) / 950));
  }

  .slider_main__content {
    padding-left: calc(15px + 9 * ((100vw - 320px) / 950));
  }

  .slider_main__content {
    padding: calc(15px + 9 * ((100vw - 320px) / 950));
  }

  .slider_main__title {
    font-size: calc(22px + 4 * ((100vw - 320px) / 950));
  }

  .slider_main__text {
    width: calc(265px + 31 * ((100vw - 320px) / 950));
  }

  .controls-slider-main .slider-arrows {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 950));
  }

  .controls-slider-main .slider-arrows {
    padding-right: calc(15px + 15 * ((100vw - 320px) / 950));
  }

  .pasiūlymai {
    margin-top: calc(156px + 21 * ((100vw - 320px) / 950));
  }

  .pasiūlymai {
    padding-top: calc(32px + 28 * ((100vw - 320px) / 950));
  }

  .pasiūlymai__body {
    width: calc(952px + 318 * ((100vw - 320px) / 950));
  }

  .pasiūlymai__body {
    margin-bottom: calc(0px + 60 * ((100vw - 320px) / 950));
  }

  .pasiūlymai__list {
    padding-left: calc(15px + 30 * ((100vw - 320px) / 950));
  }

  .pasiūlymai__list {
    padding-right: calc(15px + 30 * ((100vw - 320px) / 950));
  }

  .pasiūlymai__table tbody {
    width: calc(900px + 370 * ((100vw - 320px) / 950));
  }

  .pasiūlymai__table tr td,
  .pasiūlymai__table tr th {
    padding-left: calc(15px + 26 * ((100vw - 320px) / 950));
  }

  .pasiūlymai__table tr td,
  .pasiūlymai__table tr th {
    padding-right: calc(15px + 27 * ((100vw - 320px) / 950));
  }

  .naujienos {
    padding-top: calc(20.4px + 31.6 * ((100vw - 320px) / 950));
  }

  .naujienos {
    margin-bottom: calc(30px + 40 * ((100vw - 320px) / 950));
  }

  .naujienos__title {
    font-size: calc(30px + 20 * ((100vw - 320px) / 950));
  }

  .naujienos__wrap {
    padding-top: calc(30px + 30 * ((100vw - 320px) / 950));
  }

  .naujienos__wrap {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 950));
  }

  .naujienos__items {
    gap: calc(10px + 11 * ((100vw - 320px) / 950));
  }

  .item-naujieno__title {
    font-size: calc(20px + 6 * ((100vw - 320px) / 950));
  }

  .naujienos__footer {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 950));
  }

  .kontaktai {
    margin-bottom: calc(15px + 27 * ((100vw - 320px) / 950));
  }

  .kontaktai__persons {
    margin-left: calc(10px + 15 * ((100vw - 320px) / 950));
  }

  .kontaktai__persons {
    margin-right: calc(0px + 217 * ((100vw - 320px) / 950));
  }

  .kontaktai__persons {
    margin-top: calc(30px + 70 * ((100vw - 320px) / 950));
  }

  .kontaktai__persons {
    margin-bottom: calc(30px + 160 * ((100vw - 320px) / 950));
  }

  .kontakt__peson-image {
    width: calc(75px + 55 * ((100vw - 320px) / 950));
  }

  .kontakt__peson-image {
    height: calc(75px + 55 * ((100vw - 320px) / 950));
  }

  .kontakt__peson-image {
    margin-right: calc(15px + 15 * ((100vw - 320px) / 950));
  }

  .kontakt__peson-info-name {
    font-size: calc(18px + 8 * ((100vw - 320px) / 950));
  }

  .kontakt__peson-info-mail {
    font-size: calc(14px + 4 * ((100vw - 320px) / 950));
  }

  .kontakt__peson-info-phone {
    font-size: calc(14px + 4 * ((100vw - 320px) / 950));
  }

  .form {
    padding-top: calc(0px + 39 * ((100vw - 320px) / 950));
  }

  .form__body {
    padding-right: calc(10px + 78 * ((100vw - 320px) / 950));
  }

  .form__title {
    font-size: calc(10px + 40 * ((100vw - 320px) / 950));
  }

  .form__title {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 950));
  }

  .form__item {
    margin-bottom: calc(20px + 34 * ((100vw - 320px) / 950));
  }

  .form__input {
    font-size: calc(16px + 4 * ((100vw - 320px) / 950));
  }

  .form__button {
    margin-bottom: calc(15px + 17 * ((100vw - 320px) / 950));
  }

  .checkbox__label {
    font-size: calc(14px + 4 * ((100vw - 320px) / 950));
  }

  .checkbox__label a {
    font-size: calc(14px + 4 * ((100vw - 320px) / 950));
  }

  .footer__body {
    padding-right: calc(10px + 48 * ((100vw - 320px) / 950));
  }

  .footer__body {
    padding-left: calc(10px + 48 * ((100vw - 320px) / 950));
  }

  .footer__body {
    padding-top: calc(0px + 15 * ((100vw - 320px) / 950));
  }

  .footer__body {
    padding-bottom: calc(0px + 15 * ((100vw - 320px) / 950));
  }

  .menu-footer__column:not(:last-child) {
    margin-right: calc(0px + 149 * ((100vw - 320px) / 950));
  }

  .menu-footer__link {
    font-size: calc(16px + 2 * ((100vw - 320px) / 950));
  }

  .social__wrap a:not(:last-child) {
    margin-right: calc(30px + 16 * ((100vw - 320px) / 950));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__menu {
    height: 50px;
  }

  .pradžia__content {
    margin-top: 50px;
  }

  .main-slider .blur {
    display: none;
  }

  .controls-slider-main {
    display: none;
  }

  .kontaktai__persons {
    margin-right: 80px;
  }
}

@media (max-width: 991.98px) and (max-width: 1270px) {
  .kontaktai__persons {
    margin-right: calc(0px + 80 * ((100vw - 320px) / 950));
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .logo__link {
    margin: 0;
  }

  .menu__body {
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    -webkit-transition: -webkit-transform 0.8s ease 0s;
    transition: -webkit-transform 0.8s ease 0s;
    -o-transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 70px 10px 30px 10px;
    background: #fff;
  }

  .menu__body._active {
    -webkit-transform: translate(0%, 0px);
        -ms-transform: translate(0%, 0px);
            transform: translate(0%, 0px);
  }

  .menu__link {
    font-size: 40px;
    display: block;
    text-align: center;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .kontaktai__persons {
    margin-right: 40px;
  }

  .kontakt__peson-info {
    min-width: 200px;
  }

  .menu-footer__column {
    width: 213px;
    margin-right: 31px;
  }

  .menu-footer__title._active {
    margin-bottom: 0;
  }

  .menu-footer__list {
    padding: 15px 0 0 0;
  }

  .social__wrap {
    padding-bottom: 6px;
  }
}

@media (max-width: 767.98px) and (max-width: 1270px) {
  .kontaktai__persons {
    margin-right: calc(0px + 40 * ((100vw - 320px) / 950));
  }
}

@media (max-width: 766px) {
  .kontaktai {
    background-color: #e6f1fd;
  }

  .kontaktai__persons-background {
    display: none;
  }

  .kontaktai__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 15px;
  }

  .kontaktai__content .kontakt__peson {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .kontaktai__persons {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .kontaktai__form {
    padding-top: 0;
  }

  .form__body {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__title {
    font-size: 28px;
    margin-top: 15px;
  }

  .form__item {
    width: 100%;
  }
}

@media (max-width: 766px) and (max-width: 1270px) {
  .kontaktai__persons {
    margin-top: calc(0px + 30 * ((100vw - 320px) / 950));
  }

  .kontaktai__persons {
    margin-bottom: calc(0px + 30 * ((100vw - 320px) / 950));
  }

  .kontaktai__persons {
    margin-left: calc(0px + 30 * ((100vw - 320px) / 950));
  }

  .kontaktai__persons {
    margin-right: calc(0px + 30 * ((100vw - 320px) / 950));
  }
}

@media (max-width: 610px) {
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 540px) {
  .menu-footer__list {
    margin: 0px 0px 15px 15px;
  }
}

@media (max-width: 400px) {
  .naujienos__items {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

@media (any-hover: hover) {
  .btn::before {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .btn:hover {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
    color: #ff6464;
  }

  .btn:hover::before {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
    color: #ff6464;
  }

  .slider-arrow:hover {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
  }

  .pasiūlymai__item:hover .pasiūlymai__sub-list {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .pasiūlymai__item:hover .form__menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .pasiūlymai__item:hover .pasiūlymai__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .pasiūlymai__sub-link:hover {
    text-decoration: underline;
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }
}